<section class="preload" *ngIf="publicService.load">
  <label
    [ngClass]="{
      'medium-load': publicService.medium_load
    }"
  ></label>
</section>

<header
  [ngClass]="{ sticky: publicService.sticky }"
  *ngIf="publicService.headerLoad"
>
  <a href="/" class="logo btn">
    <img
      src="../assets/images/logoAlmax.png"
      alt=""
      title=""
      height="80"
      width="auto"
      (load)="imgLogoLoaded()"
    />
  </a>

  <ul class="social-media">
    <ng-container *ngIf="publicService.socialMedia.length">
      <li *ngFor="let sm of publicService.socialMedia">
        <a [href]="sm.href" [title]="sm.title" class="btn" target="_blank">
          <fa-icon [icon]="sm.icon" aria-hidden="true"></fa-icon>
        </a>
      </li>
    </ng-container>
  </ul>

  <nav [ngClass]="{ navbar: true, active: publicService.menu }">
    <ul [ngClass]="{ menu: true, active: publicService.menu }">
      <li>
        <a [routerLink]="'/tendencias'" (click)="toogleMenu()">Tendencias</a>
      </li>
      <li>
        <a [routerLink]="'/productos'" (click)="toogleMenu()">Productos</a>
      </li>
      <li>
        <a [routerLink]="'/inspiracion'" (click)="toogleMenu()">Inspiración</a>
      </li>
      <li>
        <a [routerLink]="'/transformacion'" (click)="toogleMenu()"
          >Transformación</a
        >
      </li>
      <li>
        <a [routerLink]="'/testimonios'" (click)="toogleMenu()">Testimonios</a>
      </li>
      <li>
        <a [routerLink]="'/comunidad'" (click)="toogleMenu()">Contáctanos</a>
      </li>
    </ul>
  </nav>

  <div
    [ngClass]="{
      active: publicService.menu,
      toggle: true,
      btn: publicService.isMobile
    }"
    (click)="toogleMenu()"
  >
    <fa-icon [icon]="faBars" aria-hidden="true"></fa-icon>
  </div>
</header>

<router-outlet></router-outlet>
